* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
}

.negative-space {
    flex: 1;
    background-color: black;
    max-width: 33%;
}

.content {
    flex: 1;
}
