* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Roboto, sans-serif;
}

body,
.header, 
ul {
    display: flex;
}

.negative-space {
    flex: 1;
    background-color: black;
    max-width: 25%;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: space-between;
    align-items: center;
    padding: 10px 175px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    list-style: none;
    gap: 16px;
}

a,
.header {
    color: #F9FAF8;
}

.content {
    flex: 1;
}
